:root {
  /* Dark Theme Colors */
  --clr-bg: rgb(13, 17, 23);
  --clr-txt: #dad9ff;
  --clr-txt-sec: rgba(240, 246, 252, 0.5);
  --clr-bdr: #3d444d;
  --clr-comp: rgb(33, 40, 48);
  --clr-comp-hover: rgb(58, 65, 72);

  /* Accent Colors */
  --clr-accent: #488aec;
  --clr-accent-l1: #488aec4f;
  --clr-accent-l2: #488aec31;
  --clr-accent-d1: #306cc6;
  --clr-accent2: #7896f8;
  --clr-accent3: #C68FE6;
  --clr-sec: #E82561;

  /* Shadows */
  --shadow-1: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  --shadow-2: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
  --shadow-3: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;

  /* Tooltip */
  --tooltip-bg: #efefef;
  --tooltip-txt: #333;

  /* Misc */
  --space-bg-clr: rgb(39, 39, 72);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  border-radius: 10px;
}

/* Base Styles */
body {
  font-family: "Space Grotesk", serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  line-height: 1.5;
  color: var(--clr-txt);
  background-color: var(--clr-bg);
  padding-bottom: 3rem;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 4 0, auto;
}

/* Typography */
a {
  color: var(--clr-accent);
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent-d1);
}

p {
  color: inherit;
}

/* Layout Section */
.section {
  padding: 24px;
  max-width: 1024px;
  margin: auto;
  padding-bottom: 10vh;
}

/* General Elements */
button {
  color: inherit;
}

svg {
  fill: currentColor;
}